<h1>お問い合わせありがとうございました。</h1>

<p>あなたが送った内容はこちらです。</p>
<p>---------------------------------------</p>
<h4>名前: <%= @contact.name %></h4>
<p>内容: <%= @contact.content %></p>
<p>---------------------------------------</p>
<br>
<p>現場からは以上です。</p>
